{% extends 'base.html.twig' %}

{% block title %}Hello GestionClientController!
{% endblock %}

{% block body %}
	<h1 class='center-text p1br'>CREATION DE COMPTE CLIENT</h1>
	<div class="box-container" data-controller="form-client">
		<div class="container-form">
			<h2 class='center-text'>QUELLES SONT LES INFORMATIONS DE VOTRE CLIENT</h2>
			{{form_start(createclientform)}}
			<div class='flex'>
				<div class='flex align-center margin-auto box-choice'>
					<div class='type-client-selected' data-form-pro-target="clientPro">
						<p>Client particulier</p>
					</div>
					<div>
						<label class="switch">
							{{ form_widget(createclientform.isPro) }}
							<span class="slider"></span>
						</label>
					</div>
					<div class='type-client-no-selected' data-form-pro-target="clientPart">
						<p>Client professionnel</p>
					</div>
				</div>
			</div>
			<div class="group-form flex">
				<fieldset class='flex flex-column'>
					<legend>Informations du client</legend>
					<div class="form-group">
						{{ form_row(createclientform.nom)}}
					</div>
					<div class="form-group">
						{{ form_row(createclientform.prenom)}}
					</div>
					<div class="form-group">
						{{ form_row(createclientform.fax)}}
					</div>
				</fieldset>
				<fieldset class='flex flex-column'>
					<legend>Informations de contact</legend>
					<div class="form-group">
						{{ form_row(createclientform.email)}}
					</div>
					<div class="form-group">
						{{ form_row(createclientform.tel_portable)}}
					</div>
					<div class="form-group">
						{{ form_row(createclientform.tel_fixe)}}
					</div>
				</fieldset>
			</div>
			<div class="group-form flex flex-column ">
				<fieldset class='flex flex-column adresse'>
					<legend>Information sur l'adresse</legend>
					<div class="form-group">
						{{ form_row(createclientform.rue)}}
					</div>
					<div class='flex adresse-detail space-between'>
						<div class="form-group">
							{{ form_row(createclientform.ville)}}
						</div>
						<div class="form-group">
							{{ form_row(createclientform.code_postal)}}
						</div>
					</div>
				</fieldset>
			</div>
			<div class="group-form flex flex-column" data-form-pro-target="formPro">
				<fieldset class='flex flex-column form-pro'>
					<legend>Complément d'information Entreprise</legend>
					<div class="form-group">
						{{ form_row(createclientform.siret)}}
					</div>
					<div class="form-group">
						{{ form_row(createclientform.raison_sociale)}}
					</div>
				</fieldset>
			</div>
			<div class='box-btn flex'>
				<button type="submit" class="btn btn-principal margin-auto">Enregistrer</button>
			</div>
			{{form_end(createclientform)}}
		</div>
	</div>

{% endblock %}
