{% extends 'base.html.twig' %}

{% block title %}DematFact | Connexion
{% endblock %}

{% block body %}
	<h1 class='center-text pb1r'>CONNEXION A VOTRE COMPTE</h1>
	<div class="box-container">
		<div class='container-form'>
			{{form_start(loginForm)}}
			<div class="group-form">
				<fieldset class='flex flex-column gap-5'>
					<legend>Information de connexion</legend>
					{{form_row(loginForm.email) }}
					{{form_row(loginForm.password)}}
					<div class="flex">
						<button type="submit" class="btn btn-principal margin-auto">CONNEXION</button>
					</div>
					<div class='flex space-between'>
						<a href="#">Mot de passe oublié</a>
						<a href="{{path('app_register')}}">Créer un nouveau compte</a>
					</div>
				</fieldset>
			</div>
			{{form_end(loginForm)}}
		</div>
	</div>
{% endblock %}
